<%include header.ejs%>
<body>

    <div id="wrapper">
		<%include logo.ejs%>
		<%include nav.ejs%>
		<%include slider.ejs%>
		

		

	<div id="page">
		<div id="content">
			<div class="box">
				<h2>Welcome to Flipcard About...</h2>
				<p>
					This is <strong>Flipcard.com</strong>, a free and fully standards-compliant CSS website template by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>. The pictures in this template are from <a href="http://fotogrph.com/">Fotogrph</a>. This free CSS template is released under the <a href="http://templated.co/license">Creative Commons Attribution</a> license, so you're pretty much free to do whatever you want with it (even use it commercially) provided you credit us in some way. Have fun :)
				</p>
			</div>
		</div>
		


		

		<div id="sidebar">
				<div class="box">
					<h3>Login with</h3>
					<ul class="list">
						<li class="first"><a href="#">Facebook</a></li>
						<li><a href="#">Google</a></li>
						<li><a href="#">Twitter</a></li>
						<li><a href="#">LinkedIN</a></li>
					</ul>
				</div>
			</div>
			</div>



			

			<div id="page-bottom">
					<div id="page-bottom-content">
						<h3>Product Info</h3>
						<p>
							Product certification or product qualification is the process of certifying that a certain product has passed performance tests and quality assurance tests, and meets qualification criteria stipulated in contracts, regulations, or specifications (typically called "certification schemes" in the product certification ...
						</p>
					</div>
					<br class="clearfix" />
				</div>
			</div>
			
      
    <%include footer.ejs%>
    
    
</body>
