<%include header.ejs%>
		<div id="wrapper">
			<%include logo.ejs%>
				<%include adminnav.ejs%>
					<%include slider.ejs%>




						<div id="page">
							<div id="content">
								<div class="box">
									<h2>Change Password...</h2>
									<br>
									<br>
									<h2 style="color: green">
										<%= result%>
									</h2>
									<form action="/admin/changepassword" method="POST">
										<table cellspacing="20">
											<tr>
												<td>
													Enter new Password
												</td>
												<td>
													<input type="password" name="pass" id="pass" />
												</td>
											</tr>
											<tr>
												<td>
													Re-Enter Password
												</td>
												
												<td>
													<input type="password" name="repass"  id="repass" onkeyup=" validate()"/>
												</td><td><span id="span1"></span></td>
											</tr>
												<tr>
												<td></td>
												<td>
													<input type="submit" name="s" value="change Password" />
												</td>
											</tr>

										</table>
									</form>

								</div>
							</div>


<script>
	var pass1=document.getElementById("pass")
	var pass=document.getElementById("pass").value
	pass1.focus()
	function validate()
{
var repass=document.getElementById("repass").value
var span1=document.getElementById("span1")

if(pass!=repass){
span1.innerHTML="enter same password"
span1.style.color="red"
}

else
span1.innerHTML="correct password"
}
</script>


							<div id="sidebar">
								<div class="box">
									<h3>Login with</h3>
									<ul class="list">
										<li class="first">
											<a href="#">Facebook</a>
										</li>
										<li>
											<a href="#">Google</a>
										</li>
										<li>
											<a href="#">Twitter</a>
										</li>
										<li>
											<a href="#">LinkedIN</a>
										</li>
									</ul>
								</div>
							</div>
						</div>





						<div id="page-bottom">
							<div id="page-bottom-content">
								<h3>Product Info</h3>
								<p>
									Product certification or product qualification is the process of certifying that a certain product has passed performance
									tests and quality assurance tests, and meets qualification criteria stipulated in contracts, regulations, or specifications
									(typically called "certification schemes" in the product certification ...
								</p>
							</div>
							<br class="clearfix" />
						</div>
		</div>
		<%include footer.ejs%>