<div id="header">
    <div id="logo">
                <h1><a href="#"><font color="#ffa500">PostKrde</font><font color="green">.com</font></a></h1>
    </div>
    <div id="slogan">
                <h2><font color="white">Buy and Sell anything....</font></h2>
    </div>
</div>
    
   