
	<div id="menu">
            <ul>
                <li><a href="/">Home</a></li>
                        <li><a href="/product">product</a></li>
                        <li><a href="/service">Service</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/contact">Contact-us</a></li>
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Register</a></li>
                        <li style="margin-left: 9%;"><a href="/addpost"><button style="height: 35px; width: 60px;background: aliceblue;">Add Post</button></a></li>                    
                    </ul>
        </div>
            