<div id="menu">
    <ul>

        <li>
            <a href="/users">Home</a>
        </li>
        <li>
            <a href="#">Manage Post</a>
            <ul>
                <li>
                    <a href="/users/addpost">Add post</a>
                </li>
                <li>
                    <a href="/users/modifypost">Delete/Update Post</a>
                </li>

            </ul>
        </li>
        <li>
            <a href="">to Contact with Seller</a>
        </li>
        <li>
            <a href="">Notifications</a>
        </li>
        <li>
            <a href="/logout">logout</a>
        </li>
    </ul>
</div>