<div id="menu">
    <ul>

        <li>
            <a href="/admin">Home</a>
        </li>
        <li>
            <a href="#">Category</a>
            <ul>
                <li>
                    <a href="/admin/addcategory">Add Category</a>
                </li>
                <li>
                    <a href="/admin/addsubcategory">Add Subcategory</a>
                </li>

            </ul>
        </li>
        <li>
            <a href="#">Manage</a>
            <ul>
                <li>
                    <a href="/admin/manageuser">Manage Users</a>
                </li>
                <li>
                    <a href="/admin/managepost">Manage Post</a>
                </li>
                <li>

            </ul>
            </li>

            <li>
                <a href="/admin/changepassword">Change Password</a>
            </li>
            <li>
                <a href="">Notifications</a>
            </li>
            <li>
                <a href="/login">logout</a>
            </li>
    </ul>
</div>