
<div id="slider">
		<div class="viewer">
			<div class="reel">
				<div class="slide">
					<img src="../images/slide6.jpg" alt="" />
				</div>
				<div class="slide">
					<img src="../images/slide5.jpg" alt="" />
				</div>
				<div class="slide">
					<img src="../images/slide4.jpg" alt="" />
				</div>
				<div class="slide">
					<img src="../images/slide2.png" alt="" />
				</div>
				<div class="slide">
					<img src="../images/slide1.jpg" alt="" />
				</div>
			</div>
		</div>
		<div class="indicator">
			<span>1</span>
			<span>2</span>
			<span>3</span>
			<span>4</span>
			<span>5</span>
		</div>
	</div>
